body{
    color: brown;
    max-width: 650px;
    margin: auto;
    text-align: center;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    margin-right: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: large;
    color: cadetblue;
}
footer{
    background-color: aliceblue;
    text-align: center;
    border-top: 1px solid gray;
    margin: 20px;
}

header{
    background-color: rgb(215, 220, 224);
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 20px;
}
 .bodyshit{
    flex-grow: 1;
}

input{
    padding: 16px;
}
button{
    padding: 16px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}